* {
  margin: 0;
  padding: 0;
}

.app {
  display: block;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
}

#logo {
  padding-right: 1rem;
  user-select: none;
}

.bar {
  display: flex;
  flex-direction: row;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #191F24 100%);
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 0.5rem;
  justify-self: center;
  height:3%;
}

.main {
  display: flex;
  flex-direction: row;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #191F24 100%);
  height: 96%;
  background-color: transparent;
}

#library-email:focus {
  outline-style: solid;
  outline-color: rgb(229, 255, 0);
}