.app {
  display: flex;
  flex-direction: column;
}

.bar {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  height: 5vh;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

