#server-health {
    user-select: none;
    font-family: 'Saira Semi Condensed', sans-serif;
    color: white;
    padding-right: 1rem;
}
  
#logo {
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    column-gap: 1rem;
    font-family: 'Acme';
    align-items: center;
}

#title {
    text-align: center;
    color: rgb(255, 255, 255);
}

.controls {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    font-family: 'Saira Semi Condensed', sans-serif;
    align-items: center;
}

#email-bar {
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
    padding-left: 0.5rem;
}

#email-landing {
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-family: 'Saira Semi Condensed', sans-serif;
    padding-left: 0.5rem;
}


@media screen and (max-width: 850px) {
    #email-bar {
        display: none;
    }

    .switch-button {
        display: none;
    }

    .circular-image {
        width: 10rem;
    }
}
