#server-health {
    user-select: none;
}
  
#logo {
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    column-gap: 1rem;
    font-family: 'Acme';
    align-items: center;
}

#title {
    text-align: center;
    color: rgb(0, 0, 0);
}

.controls {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    color: rgb(0, 0, 0);
    align-items: center;
}

#library-email {
    font-family: 'Roboto', sans-serif;
}
