
/* From https://css.glass */
.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 1rem 1rem;
  height: 85vh;
  width: 50%;
}

.chatui {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  margin: 1rem 1rem;
  background-color: white;
  height: 85vh;
  border: 2px solid #dddddd;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.chatui-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  background: #eee;
  color: #666;
}

.chatui-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chatui-chat::-webkit-scrollbar {
  width: 6px;
}

.chatui-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.chatui-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: #ececec;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.error-msg .msg-bubble {
  border-bottom-left-radius: 0;
  color: #f15959;
}

.init-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: #594b31;
  color: #fff;
  border-bottom-right-radius: 0;
}

.chatui-inputarea {
  display: flex;
  padding: 10px;
  border-top: 2px solid #ddd;
  border-color: #594b31;
  background: #eee;
}

.chatui-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.chatui-input {
  flex: 1;
  background: #ddd;
  border-color: #594b31;
}

.chatui-btn {
  margin-left: 10px;
  background: #ececec;
  font-family: "Roboto", sans-serif;
  border-radius: 0.4rem;
  width: 5rem;
  cursor: pointer;
}

.chatui-btn:hover {
  background: #dcdada;
}

.chatui-send-btn {
  margin-left: 10px;
  background: #ffffff;
  color:rgb(0, 0, 0)f;
  font-weight: bold;
  cursor: pointer;
}

.chatui-send-btn:hover {
  background: #e4e1e1;
}

.chatui-chat {
  background-color: #fcfcfe;
}

.circular-image {
  width: 150px; /* Set the desired width and height for the circular image */
  height: 150px;
  border-radius: 50%; /* Create a circular clipping mask */
  overflow: hidden; /* Hide any image overflow outside the circle */
  border-color: black;
  user-select: none;
}

.circular-image img {
  width: 100%;
  height: 100%;
  user-select: none;
  object-fit: cover; /* Maintain the aspect ratio and cover the circle */
}

#chatui-reset-btn {
  width: 4rem;
}

#chatui-upload-btn {
  width: 4rem;
}