
/* From https://css.glass */
.glass {
  background: inherit;
  border-radius: 1.5em;
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5em);
  -webkit-backdrop-filter: blur(0.5em);
  border: 0.1em solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 1em 1em;
  height: 85%;
  width: 50%;
  justify-items: center;
  align-self: center;
}


.chatui {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 1em 1em;
  height: 85%;
  border: 0.1em solid #dddddd;
  border-radius: 1em;
  width: 50%;
  box-shadow: 0 1em 1em -0.5em rgba(0, 0, 0, 0.2);
}

.chatui-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 0.05em solid #ddd;
  color: #ffffff;
}

.chatui-chat {
  flex: 1;
  overflow-y: auto;
  padding: 1em;
  background: inherit;
  font-family: 'Saira Semi Condensed', sans-serif;
  filter: drop-shadow(0 0 0.15em #ddd);
  border-top-left-radius: 3%;
  border-top-right-radius:  3%;
}

.chatui-chat::-webkit-scrollbar {
  width: 0.5em;
}

.chatui-chat::-webkit-scrollbar-track {
  background: #4b4949;
}

.chatui-chat::-webkit-scrollbar-thumb {
  background: #000000;
  border: #ddd 0.01em solid;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1em;
}

.msg:last-of-type {
  margin: 0;
}

.msg-bubble {
  display: flex;
  flex-direction: row;
  max-width: 30em;
  padding: 1em;
  border-radius: 2.4em;
  border-width: 0.1em;
  border-style: solid;
  border-color: rgb(54, 178, 200);
  color: rgb(255, 255, 255);
  background: #000000;
  filter: contrast(0.5em) blur(0.5em);
  box-shadow: 0 0 0.2em #9ecaed;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.error-msg .msg-bubble {
  border-bottom-left-radius: 0;
  color: #f15959;
}

.init-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: #d7f2aa;
  color: #000000;
  border-color: rgb(171, 165, 107);
  border-bottom-right-radius: 0;
}

.chatui-extra-control {
  filter: drop-shadow(0 0 0.15em #ddd);
  color: white;
  text-align: center;
  padding-bottom: 0.3em;
  
}

.chatui-inputarea {
  display: flex;
  padding: 1em;
  background: inherit;
  border-top: 0.01em solid #ddd;
  border-color: #ffffff;
}

.chatui-inputarea * {
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
}

.chatui-input {
  background: inherit;
  color: white;
  width: 100%;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.chatui-input:focus {
  outline-color: #2f9799;
}

.chatui-btn {
  margin-left: 1em;
  background: #ffffff;
  border-radius: 0.4em;
  width: 5em;
  cursor: pointer;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.chatui-btn:hover {
  background: #f0eaea;
}

.chatui-send-btn {
  margin-left: 1em;
  background:  #6cc3c5;
  opacity: 1.0;
  color:rgb(255, 255, 255)f;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  cursor: pointer;
}

.chatui-send-btn:hover {
  background: #2f9799;
}

.chatui-chat {
  background-color: #fcfcfe;
}

.circular-image {
  width: 20vw; /* Set the desired width and height for the circular image */
  height: 10em;
  border-radius: 1em; /* Create a circular clipping mask */
  overflow: hidden; /* Hide any image overflow outside the circle */
  filter: drop-shadow(0 0 0.15em #fdfb78);
  user-select: none;
}

.circular-image img {
  width: 100%;
  height: 100%;
  user-select: none;
  object-fit: cover; /* Maintain the aspect ratio and cover the circle */
}

#chatui-reset-btn {
  width: 4em;
}

#chatui-upload-btn {
  width: 4em;
}
