.searchui {
    background-color: inherit;
    padding-bottom: 5rem;
}

.sec {
    width: 85%;
    margin: 3rem auto;
    text-align: left;
}

.sec-middle {
    grid-template-columns: repeat(5,1fr);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
}

.thumb-wrap {
    display: inline;
    cursor: pointer;
}

.thumb {
    background-color: #353535;
    display: block;
    margin: .4em;
    width: 100%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    opacity: 1;
    filter: brightness(1.1) contrast(1.1) drop-shadow(0 0 0.15em #ddd);
    border: #f5f5f5 0.05rem solid;
    transition: all .2s ease-in-out;
}

.thumb:hover {
    opacity: .95;
    border-color: rgba(130,202,204,255);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}

.thumb-info {
    display: inline-block;
    width: 100%;
    padding: .4em;
}

.thumb-title {
    color: #f5f5f5;
    margin: 0;
    font-size: 0.8rem;
    overflow: hidden;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.thumb-user {
    color: #7e7e7e;
    display: block;
    margin: 0;
    font-size: .9em;
}

.thumb-text {
    color: #7e7e7e;
    display: inline-block;
    margin: 0;
    font-size: .8em;
}

.sec-title {
    font-weight: bolder;
    font-size: 1.4em;
    color: #f5f5f5;
    background-color: inherit;
    border: none;
    font-family: 'Saira Semi Condensed', sans-serif;
    margin: 0.5rem 0 1rem 1rem;
}

.sec-title:focus {
    outline: none;
}

.showmore {
    font-weight: bold;
    font-variant: all-petite-caps;
    display: block;
    color: #7e7e7e;
    padding: 10px;
    font-size: 1.2em;
}

@media only screen and (max-width: 1456px) {
    .sec-middle {
        grid-template-columns: repeat(4,1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .video-sec-middle {
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 756px) {
    .video-sec-middle {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 496px) {
    .video-sec-middle {
        grid-template-columns: repeat(1,1fr);
    }
}